[submodule "external/SvgLayerExtractor"]
	path = external/SvgLayerExtractor
	url = https://github.com/twyleg/svg_layer_extractor.git
[submodule "external/OpenDashboardQmlModules"]
	path = external/OpenDashboardQmlModules
	url = https://github.com/OpenDashboardUI/OpenDashboardQmlModules.git
